/* App.css */

.App {
  
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url('https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA11796_hires.jpg'); /* URL da sua imagem de fundo */
    background-size: cover; /* Para garantir que a imagem cubra toda a área */
    background-position: center; /* Para centralizar a imagem */
  }

  /* No seu arquivo CSS principal */


/* Outros estilos CSS */

/* No seu arquivo CSS onde você estiliza FetchData.js */

h2 {
  font-family: 'Quantico', sans-serif; 
  font-size: 70px;
  color: antiquewhite;
}

.character-cards {
  margin-top: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #515886;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  width: 300px;
  transition: transform 0.3s, box-shadow 0.3s; 
}

.card:hover {
  transform: translateY(-5px) rotate(-2deg); /* Movendo para cima e girando ligeiramente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}

.card p {
  margin: 5px 0;
  color: white;
}

.pagination span {
  color: white; /* Defina a cor do texto como branco */
}

/* FetchData.css */


.card h3 {
  font-family: 'Orbitron', sans-serif;
  color: #b2a9b5;
  margin-top: 0;
}

p{
  font-family: 'Roboto Mono', monospace;
}